[Unit]
Description=BaCon Service
After=network-online.target
[Service]
Type=simple
ExecStart=/var/lib/BaCon/BaCon-linux
WorkingDirectory=/var/lib/BaCon
User=bacon
Group=bacon
Restart=always
[Install]
WantedBy=multi-user.target
